# Sensitive or high-churn files:
.idea/libraries
.idea/dataSources.ids
.idea/dataSources.local.xml
.idea/dataSources.xml
.idea/dataSources
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml

node_modules
.env

*.iws
workspace.xml
tasks.xml

.module-cache
*.log*
build
dist
.DS_STORE
*.bak
